@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 35px;
    font-weight: 900;
    color: rgb(110, 101, 101)
}
nav{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(34, 3, 95);
    align-items: center;
    padding-left: 20px;
}
.logo{
    margin-right: auto;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}
.nav-links li{
    display: inline-block;
}
.nav-links li a{
    padding: 0 15px;
    font-size: 20px;
    color: white;
}
.nav-links li a:hover{
    color: rgb(175, 246, 255)
}
.banner{
    display: flex;
}

.banner-items{
    width: 50%;
    padding: 60px 15px;
}

.details{
    font-size: 20px;
    padding: 25px 0;
}
.button-order{
    padding: 10px 30px;
    background-image: linear-gradient(rgb(34, 3, 95),rgb(20, 149, 255) );
    font-size: 25px;
    border-radius: 25px;
    color: white;
}
.banner-left{
    padding-top: 50px;
    padding-left: 80px;
}